* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.home-comes {
    background-color: rgba(0, 0, 0, 0.911);
    height: 100vh;
}

.home-comess {
    height: 100%;
    background-image: url('./images/text.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}