* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* background-color: rgba(0, 255, 255, 0.555); */
}

.home-re {
  height: 100vh;
  background-color: rgba(135, 207, 235, 0.911);
}

.navigator {
  padding: 20px;
}

.home-cont1 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.add {
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}

.leg1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.747);
  border-radius: 3px;
}

fieldset {
  background-color: rgba(0, 0, 0, 0.856);
  height: 50%;
  width: 45%;
  /* padding: 20px;
  margin: 20px; */
  border-radius: 20px;
  border: none;
}

.formm {

  height: 100%;

}

.labeli {
  font-size: 30px;
  text-transform: capitalize;
  color: white;
  padding: 2px;
  margin-left: 20px;
  font-weight: 100;

}

.her {

  display: flex;
  gap: 15%;

  .input2 {
    background-color: white;
    padding: 9px;
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 5px;
  }
}

.hey {
  display: flex;
  gap: 15.7%;

  .input2 {
    background-color: white;
    padding: 9px;
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
  }
}

.hom {
  display: flex;
  gap: 12%;

  .input2 {
    background-color: white;
    padding: 9px;
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
  }
}

.com {
  display: flex;
  gap: 14.5%;

  .input0 {
    background-color: white;
    padding: 9px;
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px;

  .btn1 {
    padding: 10px;
    font-size: 21px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    text-transform: capitalize;

  }
}

.btn2 {
  padding: 10px;
  font-size: 21px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  text-transform: capitalize;

}

.succ {
  background-color: #d4edda;
  /* light green background */
  color: #155724;
  /* dark green text */
  border: 1px solid #c3e6cb;
  /* green border */
  padding: 15px 20px;
  /* space inside the box */
  border-radius: 8px;
  /* rounded corners */
  text-align: center;
  /* center text */
  font-weight: bold;
  margin-top: 20px;
  /* space above message */
  width: 80%;
  /* optional: make it fit nicely */
  max-width: 500px;
  /* optional: not too wide */
  margin-left: auto;
  /* center horizontally */
  margin-right: auto;
  box-sizing: border-box;
}

/* navigation css */
.def {
  height: 7.7vh;
  display: flex;
  justify-content: right;
}

.fine {
  align-items: center;
  list-style-type: none;

}

.rep {
  text-decoration: none;
  font-size: 25px;
  text-transform: capitalize;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.767);
  border-radius: 9PX;
}

.logout {
  background-color: black;
  padding: 5px;
  color: white;
}